* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: $dark-gray;
}

::-webkit-scrollbar {
  width: $xxxs;
  height: $xxxs;
  border-radius: $lg;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px $gray;
  border-radius: $lg;
}

::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: $lg;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}

.skeleton {
  width: 100%;
  background-color: $gray;
  animation: pulse 1.5s infinite;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}